html, body {  height: 100%; }

.container {
    min-height: 70%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
} /*footer*/

.footer, #push {
    height: 100px;
}

@font-face {
  font-family: "The Blacklist";
  src: url('../fonts/The Blacklist.ttf') format("truetype");
}
body{
    font-family: "The Blacklist", Georgia, Serif;
}

.h100{
   height: 100px;
}

.alert-success{
  background-color: #ccff99;
}

.h200{
   height: 500px;
}
.center{
  text-align: center;
}

.bgred{
  background-color: white;
  padding: 0.3%;
  margin: 5px;
  border: 1px solid red;
  border-radius: 10px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.search-buttons{
  margin-top: 20px;
}
.btn-search{
  padding: 0;
  border-radius: 50px;
}
.span-search{
  background-position: center;
  background-size: 100px 100px;
  display: block;
  height: 100px;
  width: 100px;
  z-index: -200;
  border-radius: 50px;
}

.google{
  background-image: url('/app/image/google2.jpg');
}

.bing{
  background-image: url('/app/image/bing.jpg');
}

.yahoo{
  background-image: url('/app/image/iYahoo.png');
}
