

  <!-- input ricerca-->

<div class="row text-center">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="row">
         <h1>{{titolo}}</h1>
    </div>
    <div class="input-group center">
    <input type="text" class="form-control" placeholder="Re-Search for..." data-ng-model="ricerca.testo">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-ng-click="ricerca()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-sm-6 -->
</div>

  <div class="row text-center search-buttons">
    <button class="btn btn-default btn-search" type="button"><span class="span-search google" aria-hidden="true">&nbsp;</button></span>
    <button class="btn btn-default btn-search" type="button"><span class="span-search bing" aria-hidden="true">&nbsp;</span></button>
    <button class="btn btn-default btn-search" type="button"><span class="span-search yahoo" aria-hidden="true"></span></button>
  </div>

  <!-- link per Google,Bing e Yahoo

       <a href="https://www.google.it/"><img src="..."/>...</a>
       <a href="https://www.bing.com/?cc=it><img src="..."/>...</a></a>
       <a href="https://it.yahoo.com/"><img src="..."/>...</a></a>

       inserisci nella classe button -->


  <!-- Alerts -->

  <div class="alert alert-success" role="alert" data-ng-show="mostraRisultati">
    <a href="#" class="alert-link"></a>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 bgred text-center">
        <p>Home-page site:</p>
        <p>Proveniente da Google-Bing-Yahoo</p>
        <img src="">
      </div>
      <div></div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2 bgred" data-ng-repeat="item in ricerca.risultati">
        <a href="http://{{item.displayLink}}">
          <p>Nome sito: {{item.htmlTitle}}</p>
        <p>Proveniente da Google</p>
        <img src="">
      </a>
    </div>

    </div>
  </div>
